body {
  background-color: #e0ffff;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#n1 {
  height: 15%;
}

#i1 {
  border-radius: 150%;
  font-family: c;
}

#t1 {
  padding-left: 20px;
  font-family: "Lobster", cursive;
  font-size: xxx-large;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: rgb(254, 254, 254);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

#t2 {
  border-color: aquamarine;
  background-image: linear-gradient(
    220deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  );
}

#ab0:hover {
  color: #ffffff;
  border-radius: 30%;
  padding: 15px;
}

#ab1:hover {
  color: white;
  border-radius: 30%;
  padding: 15px;
}

#ab2:hover {
  color: white;
  border-radius: 30%;
  padding: 15px;
}

#ab3:hover {
  color: white;
  border-radius: 30%;
  padding: 15px;
}

#fp {
  text-align: center;
  height: auto;
}

#img1 {
  height: 500px;
  width: 320px;
}

#abc1 {
  margin-top: 18%;
  margin-bottom: 2%;
}

#abc2 {
  margin-left: 5%;
}

#ax1 {
  text-align: center;
  padding: 2%;
}

.row {
  border: 1px;
  border-color: black;
}
